@import 'common';

.center {
    .page-header {
        .sub-lnb {
            .dropdown-menu {
                li {
                    @media(min-width: $lg) {
                        width: 50%;
                    }
                }
            }
        }
    }
    .search-form {
        margin-bottom: 30px;
        @media(min-width: $sm) {
            margin-bottom: 50px;
        }
    }
}

// 공지사항 리스트
.notice-list {
    .section-content {
        .list {
            width: 100%;
            border-top: 3px solid #595757;
            > li {
                display: block;
                width: 100%;
                padding: 18px 0;
                border-bottom: 1px solid #ccc;
                &.visible-lg {
                    background-color: #f8f8f8;
                    .list-header {
                        li {
                            text-align: center;
                            font-size: 15px;
                            color: #333;
                            @media(min-width: $lg) {
                                &:nth-of-type(1) {
                                    width: 10%;
                                }
                                &:nth-of-type(2) {
                                    width: 65%;
                                }
                                &:nth-of-type(3) {
                                    width: 15%;
                                }
                                &:nth-of-type(4) {
                                    width: 10%;
                                }
                            }
                        }
                    }
                }
                > ul {
                    font-size: 0;
                    > li {
                        display: inline-block;
                        font-size: 15px;
                        color: #666;
                        padding: 0 10px;
                        font-weight: 300;
                        vertical-align: top;
                        @media(min-width: $lg) {
                            font-size: 15px;
                            text-align: center;
                            &:nth-of-type(1) {
                                width: 10%;
                            }
                            &:nth-of-type(2) {
                                width: 65%;
                                text-align: left;
                            }
                            &:nth-of-type(3) {
                                width: 15%;
                            }
                            &:nth-of-type(4) {
                                width: 10%;
                            }
                        }
                        a {
                            display: block;
                            font-size: 15px;
                            color: #666;
                            font-weight: 300;
                            overflow: hidden;
                            white-space: nowrap; 
                            text-overflow: ellipsis;
                        }
                        &.num {
                            display: none;
                            @media(min-width: $lg) {
                                display: inline-block;
                            }
                        }
                        &.subject {
                            display: block;
                            margin-bottom: 10px;
                            @media(min-width: $lg) {
                                display: inline-block;
                                margin-bottom: 0;
                            }
                        }
                        &.date {
                            font-size: 12px;
                            position: relative;
                            &:after {
                                position: absolute;
                                top: 5%;
                                right: -1px;
                                font-size: 10px;
                                color: #666;
                                content: "|";
                            }
                            @media(min-width: $sm) {
                                font-size: 13px;
                            }
                            @media(min-width: $lg) {
                                font-size: 15px;
                                &:after {
                                    content: "";
                                }
                            }
                        }
                        &.hit {
                            font-size: 12px;
                            @media(min-width: $sm) {
                                font-size: 13px;
                            }
                            @media(min-width: $lg) {
                                font-size: 15px;
                            }
                        }
                    }
                }
            }
        }
        .btn-area {
            margin-top: 30px;
            text-align: right;
            p {
                .btn-orange {
                    display: inline-block;
                    width: 110px;
                    height: 40px;
                    line-height: 40px;
                    font-size: 13px;
                    color: #fff;
                    background-color: #f08501;
                    @media(min-width: $sm) {
                        width: 150px;
                        font-size: 15px;
                    }
                    @media(min-width: $md) {
                        width: 170px;
                    }
                }
            }
        }
        .paging {
            margin-top: 30px;
            @media(min-width: $sm) {
                margin-top: 60px;
            }
        }
    }
}

// 뉴스레터 
.news-letter {
    .news-list {
        border-top: 3px solid #595757;
        li {
            padding: 30px 15px;
            border-bottom: 1px solid #ccc;
            @media(min-width: $sm) {
                padding: 40px 30px;
            }
            a {
                display: block;
                &:hover {
                    text-decoration: none;
                }
                .figure {
                    margin-bottom: 25px;
                    .img-responsive {
                        width: 100%;
                    }
                }
                .details {
                    h4 {
                        font-size: 15px;
                        color: #333;
                        overflow: hidden; 
                        white-space: nowrap; 
                        text-overflow: ellipsis;
                    }
                    .summary {
                        font-size: 13px;
                        color: #666;
                        line-height: 25px;
                        margin: 20px 0 30px;
                    }
                    .date {
                        font-size: 13px;
                        color: #888;
                        @include titi();
                        .icon-calendar {
                            margin-right: 5px;
                        }
                    }
                }
                @media(min-width: $sm) {
                    overflow: hidden;
                    .figure {
                        display: inline-block;
                        margin-bottom: 0;
                        vertical-align: top;
                        .img-responsive {
                            width: 198px;
                        }
                    }
                    .details {
                        display: inline-block;
                        width: 69%;
                        padding-left: 55px;
                        vertical-align: top;
                        h4 {
                            font-size: 18px;
                        }
                        .summary {
                            font-size: 15px;
                            line-height: 30px;
                        }
                    }
                }
                @media(min-width: $md) {
                    .details {
                        width: 77%;
                        padding-left: 35px;
                    }
                }
                @media(min-width: $lg) {
                    .figure {
                        .img-responsive {
                            width: 270px;
                        }
                    }
                    .details {
                        width: 75%;
                        padding-top: 12px;
                        .summary {
                            margin-bottom: 60px;
                        }
                    }
                }
            }
        }
    }
    .btn-area {
        margin-top: 30px;
        text-align: right;
        p {
            .btn-orange {
                display: inline-block;
                width: 110px;
                height: 40px;
                line-height: 40px;
                font-size: 13px;
                color: #fff;
                background-color: #f08501;
                @media(min-width: $sm) {
                    width: 150px;
                    font-size: 15px;
                }
                @media(min-width: $md) {
                    width: 170px;
                }
            }
        }
    }
    .paging {
        margin-top: 30px;
        @media(min-width: $sm) {
            margin-top: 60px;
        }
    }
}

// E-카탈로그
.e-catalog {
    .section-content {
        .catalog-list {
            ul {
                li {
                    .info {
                        padding: 0 34px;
                        @media(min-width: $sm) {
                            padding: 0 40px;
                        }
                        a {
                            display: block;
                            text-align: center;
                            margin-bottom: 80px;
                            figure {
                                .img-responsive {
                                    display: block;
                                    margin: 0 auto;
                                    box-shadow: 10px 10px 30px #999;
                                }
                                figcaption {
                                    font-size: 14px;
                                    color: #333;
                                    margin-top: 45px;
                                    @media(min-width: $sm) {
                                        font-size: 15px;
                                        margin-top: 40px;
                                    }
                                }
                            }
                            .hover-more {
                                display: none;
                                background-color: rgba(240, 133, 1, .8);
                                background-image: url(/assets/images/center/more_plus_bg.png);
                                background-repeat: no-repeat;
                                background-position: 50% 50%;
                                @include trans();
                            }
                            &:hover {
                                text-decoration: none;
                            }
                            @media(min-width: $lg) {
                                margin-bottom: 100px;
                                figure {
                                    position: relative;
                                    .img-responsive {
                                        width: 272px;
                                        height: 390px;
                                    }
                                }
                                &:hover {
                                    .hover-more {
                                        display: block;
                                        position: absolute;
                                        top: 0;
                                        left: 64px;
                                        width: 272px;
                                        height: 390px;
                                        font-size: 15px;
                                        color: #fff;
                                        font-weight: 300;
                                        padding-top: 236px;
                                        @include trans();
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        .btn-area {
            margin-bottom: 30px;
            text-align: right;
            @media(min-width: $sm) {
                margin-bottom: 50px;
            }
            p {
                .btn-orange {
                    display: inline-block;
                    width: 110px;
                    height: 40px;
                    line-height: 40px;
                    font-size: 13px;
                    color: #fff;
                    background-color: #f08501;
                    @media(min-width: $sm) {
                        width: 150px;
                        font-size: 15px;
                    }
                    @media(min-width: $md) {
                        width: 170px;
                    }
                }
            }
        }
    }
}

// 고객문의
.inquiry-write {
    header {
        .summary {
            letter-spacing: -.5px;
        }
    }
    .section-content {
        .inquiry-type {
            font-size: 0;
            margin-bottom: 50px;
            @media(min-width: $sm) {
                margin-bottom: 60px;
            }
            li {
                width: 50%;
                display: inline-block;
                text-align: center;
                vertical-align: top;
                &:nth-of-type(5) {
                    width: 100%;
                    .figcaption {
                        margin-bottom: 0;
                    }
                }
                @media(min-width: $sm) {
                    width: 33.33%;
                    &:nth-of-type(4) {
                        width: 50%;
                        padding-left: 110px;
                        .figcaption {
                            margin-bottom: 0;
                        }
                    }
                    &:nth-of-type(5) {
                        width: 50%;
                        padding-right: 110px;
                    }
                }
                @media(min-width: $md) {
                    width: 20% !important;
                    padding: 0 !important;
                }
                @media(min-width: $lg) {
                    .figure {
                        @include trans();
                    }
                    h4 {
                        @include trans();
                    }
                    &:hover {
                        cursor: pointer;
                        .figure {
                            border-color: #f08501;
                            background-color: #f08501;
                            img {
                                &.basic-img {
                                    display: none;
                                }
                                &.over-img {
                                    display: inline-block;
                                }
                            }
                        }
                        .figcaption {
                            h4 {
                                color: #e10013;
                            }
                        }
                    }
                }
                .figure {
                    display: inline-block;
                    width: 130px;
                    height: 130px;
                    line-height: 130px;
                    border-radius: 50%;
                    border: 1px solid #ccc;
                    vertical-align: middle;
                    img {
                        &.basic-img {
                            display: inline-block;
                        }
                        &.over-img {
                            display: none;
                        }
                    }
                    @media(min-width: $sm) {
                        width: 150px;
                        height: 150px;
                        line-height: 150px;
                    }
                }
                .figcaption {
                    margin-bottom: 30px;
                    @media(min-width: $sm) {
                        margin-bottom: 50px;
                    }
                    @media(min-width: $md) {
                        margin-bottom: 0;
                    }
                    h4 {
                        font-size: 14px;
                        color: #333;
                        font-weight: bold;
                        @include titi();
                        margin-top: 15px;
                        margin-bottom: 5px;
                        @media(min-width: $sm) {
                            font-size: 15px;
                            margin-top: 20px;
                            margin-bottom: 10px;
                        }
                    }
                    .call {
                        font-size: 13px;
                        color: #666;
                        @include titi();
                        font-weight: 400;
                        line-height: 18px;
                        &:hover {
                            text-decoration: none;
                        }
                        @media(min-width: $sm) {
                            font-size: 16px;
                            line-height: 22px;
                        }
                    }
                    dl {
                        font-size: 0;
                        &:after {
                            content: " ";
                            clear: both;
                            display: inline-block;
                        }
                        dt {
                            display: inline-block;
                            font-size: 13px;
                            color: #666;
                            font-weight: 400;
                            @include titi();
                            &:after {
                                content: ":";
                                padding: 0 2px;
                            }
                            @media(min-width: $sm) {
                                font-size: 16px;
                            }
                        }
                        dd {
                            display: inline-block;
                            font-size: 13px;
                            color: #666;
                            font-weight: 400;
                            @include titi();
                            @media(min-width: $sm) {
                                font-size: 16px;
                            }
                        }
                    }
                }
            }
        }
        .write {
            .table-wrap {
                .table {
                    margin: 0;
                    border: 0;
                    border-top: 3px solid #595757;
                    tbody {
                        tr {
                            th {
                                width: 35%;
                                font-size: 14px;
                                color: #444;
                                font-weight: 400;
                                padding-left: 15px;
                                vertical-align: middle;
                                border: 0;
                                border-bottom: 1px solid #dfdfdf;
                                background-color: #f8f8f8;
                                label {
                                    font-size: 14px;
                                    color: #444;
                                    font-weight: 400;
                                    margin: 0;
                                }
                                &.subject {
                                    padding-top: 20px;
                                    vertical-align: top;
                                }
                                @media(min-width: $sm) {
                                    width: 25%;
                                    font-size: 15px;
                                    padding-left: 30px;
                                    label {
                                        font-size: 15px;
                                    }
                                }
                                @media(min-width: $lg) {
                                    width: 15%;
                                }
                                &.needs {
                                    &:before {
                                        content: "*";
                                        color: #e10013;
                                        padding-right: 5px;
                                    }
                                }
                            }
                            td {
                                width: 65%;
                                padding: 10px 0 10px 20px;
                                vertical-align: middle;
                                border: 0;
                                border-bottom: 1px solid #dfdfdf;
                                .form-group {
                                    .form-control {
                                        width: 100%;
                                        height: 40px;
                                        border: 1px solid #dfdfdf;
                                        &:focus {
                                            box-shadow: none;
                                        }
                                    }
                                    textarea {
                                        &.form-control {
                                            height: 280px;
                                        }
                                    }
                                }
                                &.file {
                                    .form-group {
                                        position: relative;
                                        padding-right: 74px;
                                        label {
                                            position: absolute;
                                            top: 0;
                                            right: 0;
                                            width: 64px;
                                            height: 40px;
                                            font-size: 14px;
                                            color: #fff;
                                            font-weight: 400;
                                            text-align: center;
                                            line-height: 40px;
                                            margin: 0;
                                            background-color: #aeaeaf;
                                        }
                                    }
                                }
                                @media(min-width: $sm) {
                                    width: 75%;
                                    padding-left: 30px;
                                    .form-group {
                                        .form-control {
                                            width: 270px;
                                        }
                                        textarea {
                                            &.form-control {
                                                width: 100%;
                                            }
                                        }
                                    }
                                    &.e-mail {
                                        .form-group {
                                            .form-control {
                                                width: 468px;
                                            }
                                        }
                                    }
                                    &.subject {
                                        .form-group {
                                            .form-control {
                                                width: 100%;
                                            }
                                        }
                                    }
                                    &.file {
                                        .form-group {
                                            padding-right: 156px;
                                            .form-control {
                                                width: 100%;
                                            }
                                            label {
                                                width: 136px;
                                                font-size: 15px;
                                            }
                                        }
                                    }
                                }
                                @media(min-width: $lg) {
                                    width: 85%;
                                    padding-right: 34px;
                                    &.file {
                                        .form-group {
                                            label {
                                                @include trans();
                                                &:hover {
                                                    opacity: .8;
                                                    cursor: pointer; 
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
            .btn-area {
                text-align: center;
                margin-top: 40px;
                p {
                    font-size: 0;
                    .btn {
                        width: 145px;
                        height: 40px;
                        font-size: 14px;
                        line-height: 40px;
                        display: inline-block;
                        color: #fff;
                        margin-right: 10px;
                        &:last-child {
                            margin-right: 0;
                        }
                        &.btn-orange {
                            background-color: #f08501;
                        }
                        &.btn-gray {
                            background-color: #595757;
                        }
                    }
                }
                @media(min-width: $sm) {
                    margin-top: 60px;
                    p {
                        .btn {
                            width: 170px;
                            font-size: 15px;
                            margin-right: 30px;
                        }
                    }
                }
            }
        }
    }
}





















































