@import url("//fonts.googleapis.com/earlyaccess/notosanskr.css");
@import url("https://fonts.googleapis.com/css?family=Titillium+Web:200,300,400,600");
@import url("https://fonts.googleapis.com/css?family=Maven+Pro:400,500,700");
@import url("/assets/fontello/css/fontello.css");
.noto {
  font-family: 'Noto Sans KR', sans-serif; }

.titi {
  font-family: 'Titillium Web', sans-serif; }

.maven {
  font-family: 'Maven Pro', sans-serif; }

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0; }

p {
  margin-bottom: 0; }

ul, ol {
  margin-bottom: 0;
  padding-left: 0;
  list-style: none; }

dl {
  margin-bottom: 0; }

address {
  margin-bottom: 0; }

@media (min-width: 1280px) {
  .center .page-header .sub-lnb .dropdown-menu li {
    width: 25%; } }
.center .search-form {
  margin-bottom: 30px; }
  @media (min-width: 768px) {
    .center .search-form {
      margin-bottom: 50px; } }

.notice-list .section-content .list {
  width: 100%;
  border-top: 3px solid #595757; }
  .notice-list .section-content .list > li {
    display: block;
    width: 100%;
    padding: 18px 0;
    border-bottom: 1px solid #ccc; }
    .notice-list .section-content .list > li.visible-lg {
      background-color: #f8f8f8; }
      .notice-list .section-content .list > li.visible-lg .list-header li {
        text-align: center;
        font-size: 15px;
        color: #333; }
        @media (min-width: 1280px) {
          .notice-list .section-content .list > li.visible-lg .list-header li:nth-of-type(1) {
            width: 10%; }
          .notice-list .section-content .list > li.visible-lg .list-header li:nth-of-type(2) {
            width: 65%; }
          .notice-list .section-content .list > li.visible-lg .list-header li:nth-of-type(3) {
            width: 15%; }
          .notice-list .section-content .list > li.visible-lg .list-header li:nth-of-type(4) {
            width: 10%; } }
    .notice-list .section-content .list > li > ul {
      font-size: 0; }
      .notice-list .section-content .list > li > ul > li {
        display: inline-block;
        font-size: 15px;
        color: #666;
        padding: 0 10px;
        font-weight: 300;
        vertical-align: top; }
        @media (min-width: 1280px) {
          .notice-list .section-content .list > li > ul > li {
            font-size: 15px;
            text-align: center; }
            .notice-list .section-content .list > li > ul > li:nth-of-type(1) {
              width: 10%; }
            .notice-list .section-content .list > li > ul > li:nth-of-type(2) {
              width: 65%;
              text-align: left; }
            .notice-list .section-content .list > li > ul > li:nth-of-type(3) {
              width: 15%; }
            .notice-list .section-content .list > li > ul > li:nth-of-type(4) {
              width: 10%; } }
        .notice-list .section-content .list > li > ul > li a {
          display: block;
          font-size: 15px;
          color: #666;
          font-weight: 300;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis; }
        .notice-list .section-content .list > li > ul > li.num {
          display: none; }
          @media (min-width: 1280px) {
            .notice-list .section-content .list > li > ul > li.num {
              display: inline-block; } }
        .notice-list .section-content .list > li > ul > li.subject {
          display: block;
          margin-bottom: 10px; }
          @media (min-width: 1280px) {
            .notice-list .section-content .list > li > ul > li.subject {
              display: inline-block;
              margin-bottom: 0; } }
        .notice-list .section-content .list > li > ul > li.date {
          font-size: 12px;
          position: relative; }
          .notice-list .section-content .list > li > ul > li.date:after {
            position: absolute;
            top: 5%;
            right: -1px;
            font-size: 10px;
            color: #666;
            content: "|"; }
          @media (min-width: 768px) {
            .notice-list .section-content .list > li > ul > li.date {
              font-size: 13px; } }
          @media (min-width: 1280px) {
            .notice-list .section-content .list > li > ul > li.date {
              font-size: 15px; }
              .notice-list .section-content .list > li > ul > li.date:after {
                content: ""; } }
        .notice-list .section-content .list > li > ul > li.hit {
          font-size: 12px; }
          @media (min-width: 768px) {
            .notice-list .section-content .list > li > ul > li.hit {
              font-size: 13px; } }
          @media (min-width: 1280px) {
            .notice-list .section-content .list > li > ul > li.hit {
              font-size: 15px; } }
.notice-list .section-content .btn-area {
  margin-top: 30px;
  text-align: right; }
  .notice-list .section-content .btn-area p .btn-orange {
    display: inline-block;
    width: 110px;
    height: 40px;
    line-height: 40px;
    font-size: 13px;
    color: #fff;
    background-color: #f08501; }
    @media (min-width: 768px) {
      .notice-list .section-content .btn-area p .btn-orange {
        width: 150px;
        font-size: 15px; } }
    @media (min-width: 992px) {
      .notice-list .section-content .btn-area p .btn-orange {
        width: 170px; } }
.notice-list .section-content .paging {
  margin-top: 30px; }
  @media (min-width: 768px) {
    .notice-list .section-content .paging {
      margin-top: 60px; } }

.notice-view .section-content .view .article-header {
  padding: 15px 10px;
  border-top: 3px solid #595757;
  border-bottom: 1px solid #ccc;
  background-color: #f8f8f8; }
  @media (min-width: 768px) {
    .notice-view .section-content .view .article-header {
      padding: 24px 20px;
      overflow: hidden; }
      .notice-view .section-content .view .article-header:after {
        content: " ";
        display: inline-block;
        clear: both; } }
  .notice-view .section-content .view .article-header h4 {
    display: block;
    font-size: 15px;
    color: #595757;
    margin-bottom: 10px;
    margin-bottom: 0; }
    @media (min-width: 768px) {
      .notice-view .section-content .view .article-header h4 {
        font-size: 18px;
        float: left; } }
  @media (min-width: 768px) {
    .notice-view .section-content .view .article-header > ul {
      float: right; }
      .notice-view .section-content .view .article-header > ul > li {
        text-align: right; } }
  .notice-view .section-content .view .article-header > ul > li {
    display: inline-block;
    font-size: 12px;
    color: #888;
    font-weight: 300; }
    .notice-view .section-content .view .article-header > ul > li:first-child:after {
      font-size: 10px;
      content: "|";
      padding: 0 6px 0 8px;
      vertical-align: top; }
      @media (min-width: 768px) {
        .notice-view .section-content .view .article-header > ul > li:first-child:after {
          font-size: 13px; } }
    @media (min-width: 768px) {
      .notice-view .section-content .view .article-header > ul > li {
        font-size: 15px; } }
    .notice-view .section-content .view .article-header > ul > li > dl {
      font-size: 0; }
      .notice-view .section-content .view .article-header > ul > li > dl > dt {
        display: inline-block;
        font-size: 12px;
        color: #888;
        font-weight: 300; }
        .notice-view .section-content .view .article-header > ul > li > dl > dt:after {
          content: ":";
          padding: 0 3px; }
        @media (min-width: 768px) {
          .notice-view .section-content .view .article-header > ul > li > dl > dt {
            font-size: 15px; } }
      .notice-view .section-content .view .article-header > ul > li > dl > dd {
        display: inline-block;
        font-size: 12px;
        color: #888;
        font-weight: 300; }
        @media (min-width: 768px) {
          .notice-view .section-content .view .article-header > ul > li > dl > dd {
            font-size: 15px; } }
.notice-view .section-content .view .view-content {
  text-align: center;
  padding-top: 40px;
  padding-bottom: 30px; }
  @media (min-width: 768px) {
    .notice-view .section-content .view .view-content {
      padding-top: 70px;
      padding-bottom: 40px; } }
  .notice-view .section-content .view .view-content .view-txt {
    font-size: 13px;
    color: #666;
    line-height: 20px; }
    @media (min-width: 768px) {
      .notice-view .section-content .view .view-content .view-txt {
        font-size: 15px;
        line-height: 22px; } }
  .notice-view .section-content .view .view-content > .figure {
    margin-top: 50px; }
    .notice-view .section-content .view .view-content > .figure .img-responsive {
      display: block;
      margin: 0 auto; }
    @media (min-width: 768px) {
      .notice-view .section-content .view .view-content > .figure {
        margin-top: 60px; } }
.notice-view .section-content .view .attach {
  overflow: hidden;
  font-size: 0;
  margin: 80px 0 30px;
  padding: 30px 10px;
  background-color: #fafafa; }
  @media (min-width: 768px) {
    .notice-view .section-content .view .attach {
      padding-left: 30px;
      padding-right: 30px; } }
  .notice-view .section-content .view .attach dt {
    position: relative;
    display: inline-block;
    width: 62px;
    font-size: 13px;
    color: #2b2b2b;
    font-weight: 300;
    vertical-align: top; }
    .notice-view .section-content .view .attach dt:after {
      position: absolute;
      top: 0;
      right: 0;
      content: "|";
      color: #ccc; }
    @media (min-width: 768px) {
      .notice-view .section-content .view .attach dt {
        width: 70px;
        font-size: 14px; } }
  .notice-view .section-content .view .attach dd {
    vertical-align: top;
    display: inline-block;
    width: 80%;
    padding-left: 15px; }
    @media (min-width: 768px) {
      .notice-view .section-content .view .attach dd {
        padding-left: 30px; } }
    .notice-view .section-content .view .attach dd:before {
      content: "\E80D";
      font-family: "fontello";
      font-size: 12px;
      color: #888;
      padding-right: 10px; }
    .notice-view .section-content .view .attach dd a {
      display: inline-block;
      font-size: 13px;
      color: #888;
      font-weight: 300; }
      .notice-view .section-content .view .attach dd a:after {
        content: ",";
        padding-right: 10px; }
      .notice-view .section-content .view .attach dd a:last-child:after {
        content: "";
        padding: 0; }
      @media (min-width: 768px) {
        .notice-view .section-content .view .attach dd a {
          font-size: 14px; } }
.notice-view .section-content .view .next-link {
  border-top: 1px solid #595757;
  border-bottom: 1px solid #595757; }
  .notice-view .section-content .view .next-link > li {
    display: block;
    padding: 20px 10px; }
    .notice-view .section-content .view .next-link > li:first-child {
      border-bottom: 1px solid #ccc; }
    .notice-view .section-content .view .next-link > li dl {
      table-layout: fixed; }
      .notice-view .section-content .view .next-link > li dl dt {
        display: inline-block;
        width: 64px;
        font-size: 13px;
        font-weight: 400;
        color: #2b2b2b; }
        .notice-view .section-content .view .next-link > li dl dt:after {
          font-size: 10px;
          color: #ccc;
          content: "|";
          padding: 0 10px 0 15px;
          vertical-align: top; }
        @media (min-width: 768px) {
          .notice-view .section-content .view .next-link > li dl dt {
            width: 95px;
            font-size: 15px; }
            .notice-view .section-content .view .next-link > li dl dt:after {
              font-size: 13px;
              padding: 0 20px 0 30px; } }
      .notice-view .section-content .view .next-link > li dl dd {
        display: inline-block;
        width: 76%;
        vertical-align: top; }
        .notice-view .section-content .view .next-link > li dl dd a {
          display: block;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
          font-size: 13px;
          color: #666; }
        @media (min-width: 550px) {
          .notice-view .section-content .view .next-link > li dl dd {
            width: 86%; } }
        @media (min-width: 768px) {
          .notice-view .section-content .view .next-link > li dl dd {
            width: 84%; }
            .notice-view .section-content .view .next-link > li dl dd a {
              font-size: 15px; } }
        @media (min-width: 992px) {
          .notice-view .section-content .view .next-link > li dl dd {
            width: 88%; } }
        @media (min-width: 1280px) {
          .notice-view .section-content .view .next-link > li dl dd {
            width: 90%; } }
    @media (min-width: 768px) {
      .notice-view .section-content .view .next-link > li {
        padding: 20px 30px; } }
.notice-view .section-content .btn-area {
  margin-top: 30px; }
  .notice-view .section-content .btn-area p {
    font-size: 0;
    text-align: center; }
    .notice-view .section-content .btn-area p .btn {
      display: inline-block;
      width: 90px;
      height: 40px;
      font-size: 13px;
      color: #fff;
      line-height: 40px;
      text-align: center;
      margin-right: 15px; }
      .notice-view .section-content .btn-area p .btn:last-child {
        margin-right: 0; }
      .notice-view .section-content .btn-area p .btn.btn-orange {
        background-color: #f08501; }
      .notice-view .section-content .btn-area p .btn.btn-gray {
        background-color: #595757; }
      @media (min-width: 768px) {
        .notice-view .section-content .btn-area p .btn {
          width: 166px;
          height: 45px;
          line-height: 45px;
          font-size: 15px;
          margin-right: 10px; } }
      @media (min-width: 1280px) {
        .notice-view .section-content .btn-area p .btn {
          width: 170px; } }
  @media (min-width: 768px) {
    .notice-view .section-content .btn-area {
      margin-top: 60px; } }

.news-letter .news-list {
  border-top: 3px solid #595757; }
  .news-letter .news-list li {
    padding: 30px 15px;
    border-bottom: 1px solid #ccc; }
    @media (min-width: 768px) {
      .news-letter .news-list li {
        padding: 40px 30px; } }
    .news-letter .news-list li a {
      display: block; }
      .news-letter .news-list li a:hover {
        text-decoration: none; }
      .news-letter .news-list li a .figure {
        margin-bottom: 25px; }
        .news-letter .news-list li a .figure .img-responsive {
          width: 100%; }
      .news-letter .news-list li a .details h4 {
        font-size: 15px;
        color: #333;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis; }
      .news-letter .news-list li a .details .summary {
        font-size: 13px;
        color: #666;
        line-height: 25px;
        margin: 20px 0 30px; }
      .news-letter .news-list li a .details .date {
        font-size: 13px;
        color: #888;
        font-family: 'Titillium Web', sans-serif; }
        .news-letter .news-list li a .details .date .icon-calendar {
          margin-right: 5px; }
      @media (min-width: 768px) {
        .news-letter .news-list li a {
          overflow: hidden; }
          .news-letter .news-list li a .figure {
            display: inline-block;
            margin-bottom: 0;
            vertical-align: top; }
            .news-letter .news-list li a .figure .img-responsive {
              width: 198px; }
          .news-letter .news-list li a .details {
            display: inline-block;
            width: 69%;
            padding-left: 55px;
            vertical-align: top; }
            .news-letter .news-list li a .details h4 {
              font-size: 18px; }
            .news-letter .news-list li a .details .summary {
              font-size: 15px;
              line-height: 30px; } }
      @media (min-width: 992px) {
        .news-letter .news-list li a .details {
          width: 77%;
          padding-left: 35px; } }
      @media (min-width: 1280px) {
        .news-letter .news-list li a .figure .img-responsive {
          width: 270px; }
        .news-letter .news-list li a .details {
          width: 75%;
          padding-top: 12px; }
          .news-letter .news-list li a .details .summary {
            margin-bottom: 60px; } }
.news-letter .btn-area {
  margin-top: 30px;
  text-align: right; }
  .news-letter .btn-area p .btn-orange {
    display: inline-block;
    width: 110px;
    height: 40px;
    line-height: 40px;
    font-size: 13px;
    color: #fff;
    background-color: #f08501; }
    @media (min-width: 768px) {
      .news-letter .btn-area p .btn-orange {
        width: 150px;
        font-size: 15px; } }
    @media (min-width: 992px) {
      .news-letter .btn-area p .btn-orange {
        width: 170px; } }
.news-letter .paging {
  margin-top: 30px; }
  @media (min-width: 768px) {
    .news-letter .paging {
      margin-top: 60px; } }

.e-catalog .section-content .catalog-list ul li .info {
  padding: 0 34px; }
  @media (min-width: 768px) {
    .e-catalog .section-content .catalog-list ul li .info {
      padding: 0 40px; } }
  .e-catalog .section-content .catalog-list ul li .info a {
    display: block;
    text-align: center;
    margin-bottom: 80px; }
    .e-catalog .section-content .catalog-list ul li .info a figure .img-responsive {
      display: block;
      margin: 0 auto;
      box-shadow: 10px 10px 30px #999; }
    .e-catalog .section-content .catalog-list ul li .info a figure figcaption {
      font-size: 14px;
      color: #333;
      margin-top: 45px; }
      @media (min-width: 768px) {
        .e-catalog .section-content .catalog-list ul li .info a figure figcaption {
          font-size: 15px;
          margin-top: 40px; } }
    .e-catalog .section-content .catalog-list ul li .info a .hover-more {
      display: none;
      background-color: rgba(240, 133, 1, 0.8);
      background-image: url(/assets/images/center/more_plus_bg.png);
      background-repeat: no-repeat;
      background-position: 50% 50%;
      -webkit-transition-property: all;
      transition-property: all;
      -webkit-transition-duration: 0.15s;
      transition-duration: 0.15s;
      -webkit-transition-timing-function: linear;
      transition-timing-function: linear;
      -webkit-transition-delay: 0s;
      transition-delay: 0s; }
    .e-catalog .section-content .catalog-list ul li .info a:hover {
      text-decoration: none; }
    @media (min-width: 1280px) {
      .e-catalog .section-content .catalog-list ul li .info a {
        margin-bottom: 100px; }
        .e-catalog .section-content .catalog-list ul li .info a figure {
          position: relative; }
          .e-catalog .section-content .catalog-list ul li .info a figure .img-responsive {
            width: 272px;
            height: 390px; }
        .e-catalog .section-content .catalog-list ul li .info a:hover .hover-more {
          display: block;
          position: absolute;
          top: 0;
          left: 64px;
          width: 272px;
          height: 390px;
          font-size: 15px;
          color: #fff;
          font-weight: 300;
          padding-top: 236px;
          -webkit-transition-property: all;
          transition-property: all;
          -webkit-transition-duration: 0.15s;
          transition-duration: 0.15s;
          -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
          -webkit-transition-delay: 0s;
          transition-delay: 0s; } }
.e-catalog .section-content .btn-area {
  margin-bottom: 30px;
  text-align: right; }
  @media (min-width: 768px) {
    .e-catalog .section-content .btn-area {
      margin-bottom: 50px; } }
  .e-catalog .section-content .btn-area p .btn-orange {
    display: inline-block;
    width: 110px;
    height: 40px;
    line-height: 40px;
    font-size: 13px;
    color: #fff;
    background-color: #f08501; }
    @media (min-width: 768px) {
      .e-catalog .section-content .btn-area p .btn-orange {
        width: 150px;
        font-size: 15px; } }
    @media (min-width: 992px) {
      .e-catalog .section-content .btn-area p .btn-orange {
        width: 170px; } }

.inquiry-write header .summary {
  letter-spacing: -.5px; }
.inquiry-write .section-content .inquiry-type {
  font-size: 0;
  margin-bottom: 50px; }
  @media (min-width: 768px) {
    .inquiry-write .section-content .inquiry-type {
      margin-bottom: 60px; } }
  .inquiry-write .section-content .inquiry-type li {
    width: 50%;
    display: inline-block;
    text-align: center;
    vertical-align: top; }
    .inquiry-write .section-content .inquiry-type li:nth-of-type(5) {
      width: 100%; }
      .inquiry-write .section-content .inquiry-type li:nth-of-type(5) .figcaption {
        margin-bottom: 0; }
    @media (min-width: 768px) {
      .inquiry-write .section-content .inquiry-type li {
        width: 33.33%; }
        .inquiry-write .section-content .inquiry-type li:nth-of-type(4) {
          width: 50%;
          padding-left: 110px; }
          .inquiry-write .section-content .inquiry-type li:nth-of-type(4) .figcaption {
            margin-bottom: 0; }
        .inquiry-write .section-content .inquiry-type li:nth-of-type(5) {
          width: 50%;
          padding-right: 110px; } }
    @media (min-width: 992px) {
      .inquiry-write .section-content .inquiry-type li {
        width: 20% !important;
        padding: 0 !important; } }
    @media (min-width: 1280px) {
      .inquiry-write .section-content .inquiry-type li .figure {
        -webkit-transition-property: all;
        transition-property: all;
        -webkit-transition-duration: 0.15s;
        transition-duration: 0.15s;
        -webkit-transition-timing-function: linear;
        transition-timing-function: linear;
        -webkit-transition-delay: 0s;
        transition-delay: 0s; }
      .inquiry-write .section-content .inquiry-type li h4 {
        -webkit-transition-property: all;
        transition-property: all;
        -webkit-transition-duration: 0.15s;
        transition-duration: 0.15s;
        -webkit-transition-timing-function: linear;
        transition-timing-function: linear;
        -webkit-transition-delay: 0s;
        transition-delay: 0s; }
      .inquiry-write .section-content .inquiry-type li:hover {
        cursor: pointer; }
        .inquiry-write .section-content .inquiry-type li:hover .figure {
          border-color: #f08501;
          background-color: #f08501; }
          .inquiry-write .section-content .inquiry-type li:hover .figure img.basic-img {
            display: none; }
          .inquiry-write .section-content .inquiry-type li:hover .figure img.over-img {
            display: inline-block; }
        .inquiry-write .section-content .inquiry-type li:hover .figcaption h4 {
          color: #e10013; } }
    .inquiry-write .section-content .inquiry-type li .figure {
      display: inline-block;
      width: 130px;
      height: 130px;
      line-height: 130px;
      border-radius: 50%;
      border: 1px solid #ccc;
      vertical-align: middle; }
      .inquiry-write .section-content .inquiry-type li .figure img.basic-img {
        display: inline-block; }
      .inquiry-write .section-content .inquiry-type li .figure img.over-img {
        display: none; }
      @media (min-width: 768px) {
        .inquiry-write .section-content .inquiry-type li .figure {
          width: 150px;
          height: 150px;
          line-height: 150px; } }
    .inquiry-write .section-content .inquiry-type li .figcaption {
      margin-bottom: 30px; }
      @media (min-width: 768px) {
        .inquiry-write .section-content .inquiry-type li .figcaption {
          margin-bottom: 50px; } }
      @media (min-width: 992px) {
        .inquiry-write .section-content .inquiry-type li .figcaption {
          margin-bottom: 0; } }
      .inquiry-write .section-content .inquiry-type li .figcaption h4 {
        font-size: 14px;
        color: #333;
        font-weight: bold;
        font-family: 'Titillium Web', sans-serif;
        margin-top: 15px;
        margin-bottom: 5px; }
        @media (min-width: 768px) {
          .inquiry-write .section-content .inquiry-type li .figcaption h4 {
            font-size: 15px;
            margin-top: 20px;
            margin-bottom: 10px; } }
      .inquiry-write .section-content .inquiry-type li .figcaption .call {
        font-size: 13px;
        color: #666;
        font-family: 'Titillium Web', sans-serif;
        font-weight: 400;
        line-height: 18px; }
        .inquiry-write .section-content .inquiry-type li .figcaption .call:hover {
          text-decoration: none; }
        @media (min-width: 768px) {
          .inquiry-write .section-content .inquiry-type li .figcaption .call {
            font-size: 16px;
            line-height: 22px; } }
      .inquiry-write .section-content .inquiry-type li .figcaption dl {
        font-size: 0; }
        .inquiry-write .section-content .inquiry-type li .figcaption dl:after {
          content: " ";
          clear: both;
          display: inline-block; }
        .inquiry-write .section-content .inquiry-type li .figcaption dl dt {
          display: inline-block;
          font-size: 13px;
          color: #666;
          font-weight: 400;
          font-family: 'Titillium Web', sans-serif; }
          .inquiry-write .section-content .inquiry-type li .figcaption dl dt:after {
            content: ":";
            padding: 0 2px; }
          @media (min-width: 768px) {
            .inquiry-write .section-content .inquiry-type li .figcaption dl dt {
              font-size: 16px; } }
        .inquiry-write .section-content .inquiry-type li .figcaption dl dd {
          display: inline-block;
          font-size: 13px;
          color: #666;
          font-weight: 400;
          font-family: 'Titillium Web', sans-serif; }
          @media (min-width: 768px) {
            .inquiry-write .section-content .inquiry-type li .figcaption dl dd {
              font-size: 16px; } }
.inquiry-write .section-content .write .table-wrap .table {
  margin: 0;
  border: 0;
  border-top: 3px solid #595757; }
  .inquiry-write .section-content .write .table-wrap .table tbody tr th {
    width: 35%;
    font-size: 14px;
    color: #444;
    font-weight: 400;
    padding-left: 15px;
    vertical-align: middle;
    border: 0;
    border-bottom: 1px solid #dfdfdf;
    background-color: #f8f8f8; }
    .inquiry-write .section-content .write .table-wrap .table tbody tr th label {
      font-size: 14px;
      color: #444;
      font-weight: 400;
      margin: 0; }
    .inquiry-write .section-content .write .table-wrap .table tbody tr th.subject {
      padding-top: 20px;
      vertical-align: top; }
    @media (min-width: 768px) {
      .inquiry-write .section-content .write .table-wrap .table tbody tr th {
        width: 25%;
        font-size: 15px;
        padding-left: 30px; }
        .inquiry-write .section-content .write .table-wrap .table tbody tr th label {
          font-size: 15px; } }
    @media (min-width: 1280px) {
      .inquiry-write .section-content .write .table-wrap .table tbody tr th {
        width: 15%; } }
    .inquiry-write .section-content .write .table-wrap .table tbody tr th.needs:before {
      content: "*";
      color: #e10013;
      padding-right: 5px; }
  .inquiry-write .section-content .write .table-wrap .table tbody tr td {
    width: 65%;
    padding: 10px 0 10px 20px;
    vertical-align: middle;
    border: 0;
    border-bottom: 1px solid #dfdfdf; }
    .inquiry-write .section-content .write .table-wrap .table tbody tr td .form-group .form-control {
      width: 100%;
      height: 40px;
      border: 1px solid #dfdfdf; }
      .inquiry-write .section-content .write .table-wrap .table tbody tr td .form-group .form-control:focus {
        box-shadow: none; }
    .inquiry-write .section-content .write .table-wrap .table tbody tr td .form-group textarea.form-control {
      height: 280px; }
    .inquiry-write .section-content .write .table-wrap .table tbody tr td.file .form-group {
      position: relative;
      padding-right: 74px; }
      .inquiry-write .section-content .write .table-wrap .table tbody tr td.file .form-group label {
        position: absolute;
        top: 0;
        right: 0;
        width: 64px;
        height: 40px;
        font-size: 14px;
        color: #fff;
        font-weight: 400;
        text-align: center;
        line-height: 40px;
        margin: 0;
        background-color: #aeaeaf; }
    @media (min-width: 768px) {
      .inquiry-write .section-content .write .table-wrap .table tbody tr td {
        width: 75%;
        padding-left: 30px; }
        .inquiry-write .section-content .write .table-wrap .table tbody tr td .form-group .form-control {
          width: 270px; }
        .inquiry-write .section-content .write .table-wrap .table tbody tr td .form-group textarea.form-control {
          width: 100%; }
        .inquiry-write .section-content .write .table-wrap .table tbody tr td.e-mail .form-group .form-control {
          width: 468px; }
        .inquiry-write .section-content .write .table-wrap .table tbody tr td.subject .form-group .form-control {
          width: 100%; }
        .inquiry-write .section-content .write .table-wrap .table tbody tr td.file .form-group {
          padding-right: 156px; }
          .inquiry-write .section-content .write .table-wrap .table tbody tr td.file .form-group .form-control {
            width: 100%; }
          .inquiry-write .section-content .write .table-wrap .table tbody tr td.file .form-group label {
            width: 136px;
            font-size: 15px; } }
    @media (min-width: 1280px) {
      .inquiry-write .section-content .write .table-wrap .table tbody tr td {
        width: 85%;
        padding-right: 34px; }
        .inquiry-write .section-content .write .table-wrap .table tbody tr td.file .form-group label {
          -webkit-transition-property: all;
          transition-property: all;
          -webkit-transition-duration: 0.15s;
          transition-duration: 0.15s;
          -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
          -webkit-transition-delay: 0s;
          transition-delay: 0s; }
          .inquiry-write .section-content .write .table-wrap .table tbody tr td.file .form-group label:hover {
            opacity: .8;
            cursor: pointer; } }
.inquiry-write .section-content .write .btn-area {
  text-align: center;
  margin-top: 40px; }
  .inquiry-write .section-content .write .btn-area p {
    font-size: 0; }
    .inquiry-write .section-content .write .btn-area p .btn {
      width: 145px;
      height: 40px;
      font-size: 14px;
      line-height: 40px;
      display: inline-block;
      color: #fff;
      margin-right: 10px; }
      .inquiry-write .section-content .write .btn-area p .btn:last-child {
        margin-right: 0; }
      .inquiry-write .section-content .write .btn-area p .btn.btn-orange {
        background-color: #f08501; }
      .inquiry-write .section-content .write .btn-area p .btn.btn-gray {
        background-color: #595757; }
  @media (min-width: 768px) {
    .inquiry-write .section-content .write .btn-area {
      margin-top: 60px; }
      .inquiry-write .section-content .write .btn-area p .btn {
        width: 170px;
        font-size: 15px;
        margin-right: 30px; } }

/*# sourceMappingURL=center.css.map */
