@import 'common';
@import url(http://fonts.googleapis.com/earlyaccess/jejumyeongjo.css);
@font-face{
    font-family: 'Daehan';
    font-style: normal;
    font-weight: 300;
    src: url('//cdn.jsdelivr.net/korean-webfonts/1/corps/yoon/Daehan/DaehanR.woff2') format('woff2'),
    url('//cdn.jsdelivr.net/korean-webfonts/1/corps/yoon/Daehan/DaehanR.woff') format('woff');
}

// CEO인사말 
.greeting {
    .visual-content {
        text-align: center;
        padding: 60px 0;
        background-image: url(/assets/images/introduce/greeting_bg.jpg);
        background-repeat: no-repeat;
        background-position: 50% 50%;
        background-attachment: fixed;
        .icon-quote-left {
            font-size: 25px;
            color: #fff;
        }
        .intro {
            font-size: 20px;
            font-weight: 300;
            font-family:'Daehan';
            color: #fff;
            line-height: 35px;
            margin-top: 30px;
        }
        @media(min-width: $sm) {
            padding: 125px 0 105px;
            .icon-quote-left {
                font-size: 30px;
            }
            .intro {
                font-size: 26px;
                line-height: 43px;
            }
        }
    }
    .section-content {
        padding-top: 50px;
        @media(min-width: $sm) {
            padding-top: 70px;
        }
        @media(min-width: $md) {
            padding-top: 100px;
        }
        p {
            font-size: 13px;
            color: #333;
            line-height: 22px;
            & + p {
                margin-top: 20px;
            }
            @media(min-width: $sm) {
                font-size: 16px;
                line-height: 28px;
                & + p {
                    margin-top: 10px;
                }
                &:nth-of-type(4) {
                    margin-top: 60px;
                }
            }
        }
        h5 {
            font-size: 25px;
            color: #111;
            font-weight: 400;
            font-family: 'Jeju Myeongjo', serif;
            margin-top: 50px;
            @media(min-width: $sm) {
                font-size: 32px;
                margin-top: 70px;
            }
            small {
                font-size: 13px;
                color: #111;
                display: inline-block;
                font-weight: 400;
                margin-right: 10px;
                @include noto();
                @media(min-width: $sm) {
                    font-size: 16px;
                }
            }
        }
    }
}


// 비전
.vision {
    .section-content {
        
    }
}

// 연혁
.history {
    .section-content {
        .visual-img {
            img {
                width: 100%;
                &.sm-img {
                    display: block;
                    margin: 0 auto;
                    @media(min-width: $md) {
                        display: none;
                    }
                }
                &.lg-img {
                    display: none;
                    @media(min-width: $md) {
                        display: block;
                        margin: 0 auto;
                    }
                }
            }
        }
        .history-list {
            margin-top: 70px;
            @media(min-width: $md) {
                margin-top: 120px;
            }
            > li {
                padding-bottom: 60px;
                &:last-child {
                    padding-bottom: 0;
                }
                @media(min-width: $sm) {
                    padding-bottom: 80px;
                }
                h5 {
                    width: 100%;
                    font-size: 22px;
                    color: #555;
                    font-weight: bold;
                    @include titi();
                    padding-top: 25px;
                    border-top: 3px solid #555;
                    &.currently {
                        color: #e10012;
                        border-color: #e10012;
                    }
                    @media(min-width: $sm) {
                        font-size: 26px;
                    }
                }
                .list {
                    margin-left: 10px;
                    padding-top: 25px;
                    border-top: 1px solid #c1c1c1;
                    li {
                        display: block;
                        font-size: 14px;
                        color: #555;
                        line-height: 18px;
                        & + li {
                            margin-top: 15px;
                        }
                    }
                    @media(min-width: $sm) {
                        margin-left: 30px;
                        li {
                            font-size: 15px;
                            padding-left: 15px;
                        }
                    }
                }
            }
        }
    }
}

// CI 소개 
.ci-introduce {
    .section-content {
        .concept {
            padding-top: 60px;
            padding-bottom: 70px;
            border: 1px solid #eaeaea;
            background-image: url(/assets/images/introduce/concept_bg.gif);
            @media(min-width: $sm) {
                padding-top: 80px;
            }
            @media(min-width: $lg) {
                padding-top: 95px;
                padding-bottom: 114px;                
            }
            .ci-logo {
                padding: 0 5px;
                margin-bottom: 65px;
                .img-responsive {
                    display: block;
                    margin: 0 auto;
                }
                @media(min-width: $sm) {
                    padding: 0;
                    margin-bottom: 70px;
                }
                @media(min-width: $lg) {
                    margin-bottom: 0;
                    padding-top: 140px;
                    text-align: left;
                    .img-responsive {
                        display: inline-block;
                    }
                }
            }
            .details {
                h5 {
                    font-size: 23px;
                    color: #555;
                    text-align: center;
                    font-weight: 400;
                    margin-bottom: 30px;
                }
                .ci-summary {
                    font-size: 14px;
                    color: #555;
                    line-height: 28px;
                    font-weight: 300;
                }
                .btn-area {
                    margin-top: 55px;
                    p {
                        .btn {
                            width: 100%;
                            font-size: 15px;
                            text-align: center;
                            line-height: 49px;
                            margin-bottom: 10px;
                            .icon-download {
                                margin-right: 5px;
                            }
                            &:last-child {
                                margin-bottom: 0;
                            }
                        }
                        .btn-white {
                            color: #222;
                            border: 1px solid #bfbfbf !important;
                            background-color: #fff;
                        }
                        .btn-orange {
                            color: #fff;
                            border: 1px solid #f08501 !important;
                            background-color: #f08501;
                        }
                    }
                }
                @media(min-width: $sm) {
                    width: 535px;
                    margin: 0 auto;
                    h5 {
                        text-align: left;
                        margin-bottom: 45px;
                    }
                    .ci-summary {
                        font-size: 15px;
                    }
                    .btn-area {
                        margin-top: 60px;
                        p {
                            .btn {
                                display: inline-block;
                                width: 170px;
                                margin: 0;
                                margin-right: 8px;
                                &:last-child {
                                    margin: 0;
                                }
                            }
                        }
                    }
                }
                @media(min-width: $lg) {
                    width: 100%;
                    hr {
                        text-align: left;
                        display: inline-block !important;
                        width: 25px;
                        margin-top: 0;
                        margin-bottom: 11px;
                        border-top: 3px solid #e10012;
                    }
                    h5 {
                        font-size: 30px;
                    }
                }
            }
        }
        .logo-color {
            padding-top: 70px;
            @media(min-width: $sm) {
                padding-top: 100px;
            }
            @media(min-width: $lg) {
                padding-top: 120px;
                hr {
                    text-align: left;
                    display: inline-block !important;
                    width: 25px;
                    margin-top: 0;
                    margin-bottom: 11px;
                    border-top: 3px solid #e10012;
                }
            }
            h5 {
                font-size: 23px;
                color: #555;
                font-weight: 400;
                margin-bottom: 45px;
                @media(min-width: $lg) {
                    font-size: 30px;
                }
            }
            > ul {
                > li {
                    .colors {
                        text-align: center;
                        padding: 25px 15px;
                        margin-bottom: 10px;
                        @media(min-width: $sm) {
                            margin-bottom: 0;
                            padding-top: 36px;
                            padding-bottom: 36px;
                        }
                        &.red-color {
                            background-color: #e10013;
                        }
                        &.orange-color {
                            background-color: #f08501;
                        }
                        &.gray-color {
                            background-color: #595757;
                        }
                        h6 {
                            display: inline-block;
                            font-size: 16px;
                            color: #fff;
                            font-weight: 300;
                            line-height: 66px;
                            vertical-align: top;
                            margin-right: 24px;
                            @media(min-width: $sm) {
                                font-size: 22px;
                                line-height: 22px;
                                margin-right: 0;
                                margin-bottom: 20px;
                            }
                            @media(min-width: $lg) {
                                line-height: 75px;
                                margin-bottom: 0;
                                margin-right: 30px;
                            }
                        }
                        .details-color {
                            text-align: left;
                            display: inline-block;
                            > li {
                                font-size: 14px;
                                color: #fff;
                                line-height: 22px;
                                font-weight: 300;
                                @include titi();
                                @media(min-width: $sm) {
                                    font-size: 15px;
                                    line-height: 25px;
                                }
                            }
                        }
                    }
                }
            }
            .summary {
                font-size: 14px;
                color: #555;
                padding-top: 30px;
                line-height: 22px;
                font-weight: 300;
                @media(min-width: $sm) {
                    font-size: 15px;
                    padding-top: 40px;
                    line-height: 28px;
                }
            }
        }
    }
}

// 조직도
.pd-bo {
    #content {
        padding-bottom: 0;
    }
}
.group {
    header {
        h4 {
            letter-spacing: 0 !important;
        }
        @media(min-width: $sm) {
            padding-bottom: 100px !important;
        }
    }
    .section-content {
        .group-table {
            .img-responsive {
                width: 100%;
                display: block;
                margin: 0 auto;
            }
        }
    }
}



























