@import url("//fonts.googleapis.com/earlyaccess/notosanskr.css");
@import url("https://fonts.googleapis.com/css?family=Titillium+Web:200,300,400,600");
@import url("https://fonts.googleapis.com/css?family=Maven+Pro:400,500,700");
@import url("/assets/fontello/css/fontello.css");
@import url(http://fonts.googleapis.com/earlyaccess/jejumyeongjo.css);
h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0; }

p {
  margin-bottom: 0; }

ul, ol {
  margin-bottom: 0;
  padding-left: 0;
  list-style: none; }

dl {
  margin-bottom: 0; }

address {
  margin-bottom: 0; }

@font-face {
  font-family: 'Daehan';
  font-style: normal;
  font-weight: 300;
  src: url("//cdn.jsdelivr.net/korean-webfonts/1/corps/yoon/Daehan/DaehanR.woff2") format("woff2"), url("//cdn.jsdelivr.net/korean-webfonts/1/corps/yoon/Daehan/DaehanR.woff") format("woff"); }
.greeting .visual-content {
  text-align: center;
  padding: 60px 0;
  background-image: url(/assets/images/introduce/greeting_bg.jpg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: auto 100%;
  background-attachment: fixed; }
  .greeting .visual-content .icon-quote-left {
    font-size: 25px;
    color: #fff; }
  .greeting .visual-content .intro {
    font-size: 20px;
    font-weight: 300;
    font-family: 'Daehan';
    color: #fff;
    line-height: 35px;
    margin-top: 30px; }
  @media (min-width: 768px) {
    .greeting .visual-content {
      padding: 125px 0 145px; }
      .greeting .visual-content .icon-quote-left {
        font-size: 30px; }
      .greeting .visual-content .intro {
        font-size: 26px;
        line-height: 43px; } }
.greeting .section-content {
  padding-top: 50px; }
  @media (min-width: 768px) {
    .greeting .section-content {
      padding-top: 70px; } }
  @media (min-width: 992px) {
    .greeting .section-content {
      padding-top: 100px; } }
  @media (min-width: 992px) {
    .greeting .section-content .ceo-greeting {
      padding-right: 70px; } }
  .greeting .section-content .ceo-greeting p {
    font-size: 13px;
    color: #333;
    font-weight: 300;
    line-height: 22px;
    text-align: justify; }
    .greeting .section-content .ceo-greeting p + p {
      margin-top: 20px; }
    @media (min-width: 768px) {
      .greeting .section-content .ceo-greeting p {
        font-size: 16px;
        line-height: 28px; }
        .greeting .section-content .ceo-greeting p + p {
          margin-top: 10px; } }
  .greeting .section-content figure {
    display: block;
    width: 100%;
    max-width: 370px;
    margin: 0 auto;
    padding-top: 35px; }
    .greeting .section-content figure .img-responsive {
      width: 100%;
      max-width: 370px; }
    @media (min-width: 768px) {
      .greeting .section-content figure {
        padding-top: 0; } }
  .greeting .section-content .woojung-ceo {
    text-align: right;
    font-size: 25px;
    color: #111;
    font-weight: 400;
    font-family: 'Jeju Myeongjo', serif;
    margin-top: 20px; }
    @media (min-width: 768px) {
      .greeting .section-content .woojung-ceo {
        font-size: 32px;
        margin-top: 35px; } }
    .greeting .section-content .woojung-ceo small {
      font-size: 13px;
      color: #111;
      display: inline-block;
      font-weight: 400;
      margin-right: 10px;
      font-family: 'Noto Sans KR', sans-serif; }
      @media (min-width: 768px) {
        .greeting .section-content .woojung-ceo small {
          font-size: 16px; } }

.vision-main #content {
  padding-bottom: 0 !important; }

.vision h4 {
  font-size: 22px !important;
  line-height: 30px !important;
  font-weight: 400 !important;
  font-family: 'Noto Sans KR', sans-serif !important; }
  @media (min-width: 768px) {
    .vision h4 {
      font-size: 26px !important; } }
  @media (min-width: 1280px) {
    .vision h4 {
      font-size: 30px !important; } }
.vision .section-content {
  padding-top: 80px;
  padding-bottom: 120px;
  background-image: url(/assets/images/introduce/vision_xs_bg.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: 50% 100%; }
  @media (min-width: 768px) {
    .vision .section-content {
      padding-top: 75px;
      padding-bottom: 160px;
      background-image: url(/assets/images/introduce/vision_sm_bg.jpg);
      background-size: 100% 489px;
      background-position: 50% 0; } }
  @media (min-width: 1280px) {
    .vision .section-content {
      padding-top: 85px;
      padding-bottom: 150px;
      background-image: url(/assets/images/introduce/vision_lg_bg.jpg);
      background-size: 100% 551px; } }
  .vision .section-content h5 {
    display: block;
    padding: 0 30px; }
    .vision .section-content h5 .img-responsive {
      display: block;
      margin: 0 auto; }
  .vision .section-content .vision-list {
    margin-top: 95px;
    font-size: 0; }
    @media (min-width: 768px) {
      .vision .section-content .vision-list {
        text-align: center;
        margin-top: 96px; } }
    @media (min-width: 768px) {
      .vision .section-content .vision-list {
        margin-top: 75px; } }
    .vision .section-content .vision-list > li {
      padding-bottom: 140px;
      background-image: url(/assets/images/introduce/plus_img.png);
      background-repeat: no-repeat;
      background-size: 35px auto;
      background-position: 50% 90%; }
      .vision .section-content .vision-list > li:last-child {
        padding-bottom: 0;
        background: none; }
      @media (min-width: 768px) {
        .vision .section-content .vision-list > li {
          position: relative;
          width: 33.33%;
          display: inline-block;
          padding-bottom: 0;
          padding-right: 20px;
          background: none; }
          .vision .section-content .vision-list > li:after {
            position: absolute;
            content: url(/assets/images/introduce/plus_img.png);
            transform: scale(0.6);
            top: 45px;
            right: -17px; }
          .vision .section-content .vision-list > li:last-child {
            padding-right: 0; }
            .vision .section-content .vision-list > li:last-child:after {
              content: ""; } }
      @media (min-width: 1280px) {
        .vision .section-content .vision-list > li {
          padding-right: 0; }
          .vision .section-content .vision-list > li:after {
            transform: scale(1);
            top: 70px;
            right: -29px; } }
      .vision .section-content .vision-list > li .figure {
        margin-bottom: 45px; }
        .vision .section-content .vision-list > li .figure .img-responsive {
          display: block;
          margin: 0 auto;
          max-width: 150px; }
          @media (min-width: 1280px) {
            .vision .section-content .vision-list > li .figure .img-responsive {
              max-width: 200px; } }
        @media (min-width: 1280px) {
          .vision .section-content .vision-list > li .figure {
            margin-bottom: 50px; } }
      .vision .section-content .vision-list > li .details {
        width: 300px;
        text-align: center;
        margin: 0 auto;
        border: 3px solid #fff; }
        @media (min-width: 768px) {
          .vision .section-content .vision-list > li .details {
            width: 223px; } }
        @media (min-width: 1280px) {
          .vision .section-content .vision-list > li .details {
            width: 290px; } }
        .vision .section-content .vision-list > li .details h6 {
          display: block;
          font-size: 18px;
          color: #fff;
          font-weight: 400;
          line-height: 70px;
          text-align: center;
          background-color: rgba(0, 0, 0, 0.5); }
          @media (min-width: 768px) {
            .vision .section-content .vision-list > li .details h6 {
              font-size: 22px;
              line-height: 88px; } }
          @media (min-width: 1280px) {
            .vision .section-content .vision-list > li .details h6 {
              line-height: 85px; } }
        .vision .section-content .vision-list > li .details > ul {
          height: 175px;
          display: inline-block;
          padding-top: 40px; }
          @media (min-width: 768px) {
            .vision .section-content .vision-list > li .details > ul {
              height: 200px; } }
          @media (min-width: 1280px) {
            .vision .section-content .vision-list > li .details > ul {
              padding-left: 25px;
              width: 100%; } }
          .vision .section-content .vision-list > li .details > ul > li {
            position: relative;
            float: left;
            clear: both;
            font-size: 15px;
            color: #fff;
            text-align: left;
            font-weight: 300;
            line-height: 22px;
            padding-left: 15px;
            margin-bottom: 5px; }
            .vision .section-content .vision-list > li .details > ul > li:before {
              position: absolute;
              top: 0;
              left: 0;
              content: "\F105";
              font-family: "fontello"; }
            .vision .section-content .vision-list > li .details > ul > li:last-child {
              margin-bottom: 0; }
            @media (min-width: 768px) {
              .vision .section-content .vision-list > li .details > ul > li {
                color: #555; } }
      .vision .section-content .vision-list > li.present .details {
        border-color: #e10013; }
      .vision .section-content .vision-list > li.tomorrow .details {
        border-color: #f08501; }
      .vision .section-content .vision-list > li.next .details {
        border-color: #019ef0; }

.history .section-content .visual-img img {
  width: 100%; }
  .history .section-content .visual-img img.sm-img {
    display: block;
    margin: 0 auto; }
    @media (min-width: 992px) {
      .history .section-content .visual-img img.sm-img {
        display: none; } }
  .history .section-content .visual-img img.lg-img {
    display: none; }
    @media (min-width: 992px) {
      .history .section-content .visual-img img.lg-img {
        display: block;
        margin: 0 auto; } }
.history .section-content .history-list {
  margin-top: 70px; }
  @media (min-width: 992px) {
    .history .section-content .history-list {
      margin-top: 120px; } }
  .history .section-content .history-list > li {
    padding-bottom: 60px; }
    .history .section-content .history-list > li:last-child {
      padding-bottom: 0; }
    @media (min-width: 768px) {
      .history .section-content .history-list > li {
        padding-bottom: 80px; } }
    .history .section-content .history-list > li h5 {
      width: 100%;
      font-size: 22px;
      color: #555;
      font-weight: bold;
      font-family: 'Titillium Web', sans-serif;
      padding-top: 25px;
      border-top: 3px solid #555; }
      .history .section-content .history-list > li h5.currently {
        color: #e10012;
        border-color: #e10012; }
      @media (min-width: 768px) {
        .history .section-content .history-list > li h5 {
          font-size: 26px; } }
    .history .section-content .history-list > li .list {
      margin-left: 10px;
      padding-top: 25px;
      border-top: 1px solid #c1c1c1; }
      .history .section-content .history-list > li .list li {
        display: block;
        font-size: 14px;
        color: #555;
        line-height: 18px; }
        .history .section-content .history-list > li .list li + li {
          margin-top: 15px; }
      @media (min-width: 768px) {
        .history .section-content .history-list > li .list {
          margin-left: 30px; }
          .history .section-content .history-list > li .list li {
            font-size: 15px;
            padding-left: 15px; } }

.ci-introduce .section-content .concept {
  padding-top: 60px;
  padding-bottom: 70px;
  border: 1px solid #eaeaea;
  background-image: url(/assets/images/introduce/concept_bg.gif); }
  @media (min-width: 768px) {
    .ci-introduce .section-content .concept {
      padding-top: 80px; } }
  @media (min-width: 1280px) {
    .ci-introduce .section-content .concept {
      padding-top: 95px;
      padding-bottom: 114px; } }
  .ci-introduce .section-content .concept .ci-logo {
    padding: 0 5px;
    margin-bottom: 65px; }
    .ci-introduce .section-content .concept .ci-logo .img-responsive {
      display: block;
      margin: 0 auto; }
    @media (min-width: 768px) {
      .ci-introduce .section-content .concept .ci-logo {
        padding: 0;
        margin-bottom: 70px; } }
    @media (min-width: 1280px) {
      .ci-introduce .section-content .concept .ci-logo {
        margin-bottom: 0;
        padding-top: 140px;
        text-align: left; }
        .ci-introduce .section-content .concept .ci-logo .img-responsive {
          display: inline-block; } }
  .ci-introduce .section-content .concept .details h5 {
    font-size: 23px;
    color: #555;
    text-align: center;
    font-weight: 400;
    margin-bottom: 30px; }
  .ci-introduce .section-content .concept .details .ci-summary {
    font-size: 14px;
    color: #555;
    line-height: 28px;
    font-weight: 300; }
  .ci-introduce .section-content .concept .details .btn-area {
    margin-top: 55px; }
    .ci-introduce .section-content .concept .details .btn-area p .btn {
      width: 100%;
      font-size: 15px;
      text-align: center;
      line-height: 49px;
      margin-bottom: 10px; }
      .ci-introduce .section-content .concept .details .btn-area p .btn .icon-download {
        margin-right: 5px; }
      .ci-introduce .section-content .concept .details .btn-area p .btn:last-child {
        margin-bottom: 0; }
    .ci-introduce .section-content .concept .details .btn-area p .btn-white {
      color: #222;
      border: 1px solid #bfbfbf !important;
      background-color: #fff; }
      @media (min-width: 1280px) {
        .ci-introduce .section-content .concept .details .btn-area p .btn-white:hover {
          color: #fff;
          opacity: 1 !important;
          background-color: #f08501;
          border-color: #f08501 !important; } }
  @media (min-width: 768px) {
    .ci-introduce .section-content .concept .details {
      width: 535px;
      margin: 0 auto; }
      .ci-introduce .section-content .concept .details h5 {
        text-align: left;
        margin-bottom: 45px; }
      .ci-introduce .section-content .concept .details .ci-summary {
        font-size: 15px; }
      .ci-introduce .section-content .concept .details .btn-area {
        margin-top: 60px; }
        .ci-introduce .section-content .concept .details .btn-area p .btn {
          display: inline-block;
          width: 170px;
          margin: 0;
          margin-right: 8px; }
          .ci-introduce .section-content .concept .details .btn-area p .btn:last-child {
            margin: 0; } }
  @media (min-width: 1280px) {
    .ci-introduce .section-content .concept .details {
      width: 100%; }
      .ci-introduce .section-content .concept .details hr {
        text-align: left;
        display: inline-block !important;
        width: 25px;
        margin-top: 0;
        margin-bottom: 11px;
        border-top: 3px solid #e10012; }
      .ci-introduce .section-content .concept .details h5 {
        font-size: 30px; } }
.ci-introduce .section-content .logo-color {
  padding-top: 70px; }
  @media (min-width: 768px) {
    .ci-introduce .section-content .logo-color {
      padding-top: 100px; } }
  @media (min-width: 1280px) {
    .ci-introduce .section-content .logo-color {
      padding-top: 120px; }
      .ci-introduce .section-content .logo-color hr {
        text-align: left;
        display: inline-block !important;
        width: 25px;
        margin-top: 0;
        margin-bottom: 11px;
        border-top: 3px solid #e10012; } }
  .ci-introduce .section-content .logo-color h5 {
    font-size: 23px;
    color: #555;
    font-weight: 400;
    margin-bottom: 45px; }
    @media (min-width: 1280px) {
      .ci-introduce .section-content .logo-color h5 {
        font-size: 30px; } }
  .ci-introduce .section-content .logo-color > ul > li .colors {
    text-align: center;
    padding: 25px 15px;
    margin-bottom: 10px; }
    @media (min-width: 768px) {
      .ci-introduce .section-content .logo-color > ul > li .colors {
        margin-bottom: 0;
        padding-top: 36px;
        padding-bottom: 36px; } }
    .ci-introduce .section-content .logo-color > ul > li .colors.red-color {
      background-color: #e10013; }
    .ci-introduce .section-content .logo-color > ul > li .colors.orange-color {
      background-color: #f08501; }
    .ci-introduce .section-content .logo-color > ul > li .colors.gray-color {
      background-color: #595757; }
    .ci-introduce .section-content .logo-color > ul > li .colors h6 {
      display: inline-block;
      font-size: 16px;
      color: #fff;
      font-weight: 300;
      line-height: 66px;
      vertical-align: top;
      margin-right: 24px; }
      @media (min-width: 768px) {
        .ci-introduce .section-content .logo-color > ul > li .colors h6 {
          font-size: 22px;
          line-height: 22px;
          margin-right: 0;
          margin-bottom: 20px; } }
      @media (min-width: 1280px) {
        .ci-introduce .section-content .logo-color > ul > li .colors h6 {
          line-height: 75px;
          margin-bottom: 0;
          margin-right: 30px; } }
    .ci-introduce .section-content .logo-color > ul > li .colors .details-color {
      text-align: left;
      display: inline-block; }
      .ci-introduce .section-content .logo-color > ul > li .colors .details-color > li {
        font-size: 14px;
        color: #fff;
        line-height: 22px;
        font-weight: 300;
        font-family: 'Titillium Web', sans-serif; }
        @media (min-width: 768px) {
          .ci-introduce .section-content .logo-color > ul > li .colors .details-color > li {
            font-size: 15px;
            line-height: 25px; } }
  .ci-introduce .section-content .logo-color .summary {
    font-size: 14px;
    color: #555;
    padding-top: 30px;
    line-height: 22px;
    font-weight: 300; }
    @media (min-width: 768px) {
      .ci-introduce .section-content .logo-color .summary {
        font-size: 15px;
        padding-top: 40px;
        line-height: 28px; } }

.group-main #content {
  padding-bottom: 0; }

.group header h4 {
  letter-spacing: 0 !important; }
@media (min-width: 768px) {
  .group header {
    padding-bottom: 100px !important; } }
.group .section-content .group-table {
  padding-bottom: 120px;
  background-image: url(/assets/images/introduce/group_bg.png);
  background-repeat: no-repeat;
  background-position: 50% 100%; }
  @media (min-width: 768px) {
    .group .section-content .group-table {
      padding-bottom: 140px; } }
  @media (min-width: 992px) {
    .group .section-content .group-table {
      padding-bottom: 150px; } }
  .group .section-content .group-table .figure .img-responsive {
    width: 100%;
    max-width: 277px;
    display: block;
    margin: 0 auto; }
    @media (min-width: 768px) {
      .group .section-content .group-table .figure .img-responsive {
        width: 100%;
        max-width: 627px; } }
    @media (min-width: 992px) {
      .group .section-content .group-table .figure .img-responsive {
        width: 100%;
        max-width: 1135px; } }

@media (min-width: 768px) {
  .partner-main #content {
    padding-bottom: 100px !important; } }
@media (min-width: 1280px) {
  .partner-main #content {
    padding-bottom: 70px !important; } }

.partner header .summary {
  font-family: 'Titillium Web', sans-serif; }
.partner .section-content .partner-list {
  overflow: hidden; }
  .partner .section-content .partner-list:after {
    content: " ";
    display: inline-block;
    clear: both; }
  .partner .section-content .partner-list li {
    float: left;
    width: 48.33%;
    margin-bottom: 40px;
    margin-right: 10px; }
    .partner .section-content .partner-list li:nth-of-type(2n + 1) {
      clear: both; }
    .partner .section-content .partner-list li:nth-of-type(2n + 2) {
      margin-right: 0; }
    @media (min-width: 768px) {
      .partner .section-content .partner-list li {
        width: 29.953%;
        margin-bottom: 60px;
        margin-right: 36px; }
        .partner .section-content .partner-list li:nth-of-type(2n + 1) {
          clear: none; }
        .partner .section-content .partner-list li:nth-of-type(2n + 2) {
          margin-right: 36px; }
        .partner .section-content .partner-list li:nth-of-type(3n + 1) {
          clear: both; }
        .partner .section-content .partner-list li:nth-of-type(3n + 3) {
          margin-right: 0; } }
    @media (min-width: 1280px) {
      .partner .section-content .partner-list li {
        width: 18.633%;
        margin-bottom: 80px;
        margin-right: 20px; }
        .partner .section-content .partner-list li:nth-of-type(2n + 2) {
          margin-right: 20px; }
        .partner .section-content .partner-list li:nth-of-type(3n + 1) {
          clear: none; }
        .partner .section-content .partner-list li:nth-of-type(3n + 3) {
          margin-right: 20px; }
        .partner .section-content .partner-list li:nth-of-type(5n + 1) {
          clear: both; }
        .partner .section-content .partner-list li:nth-of-type(5n + 5) {
          margin-right: 0; } }
    .partner .section-content .partner-list li a {
      display: block;
      width: 100%; }
      .partner .section-content .partner-list li a .figure {
        display: table;
        width: 100%;
        height: 90px;
        text-align: center;
        padding-left: 20px;
        padding-right: 20px;
        border: 1px solid #ddd; }
        .partner .section-content .partner-list li a .figure .figure-img {
          display: table-cell;
          vertical-align: middle; }
          .partner .section-content .partner-list li a .figure .figure-img .img-responsive {
            display: inline-block; }
        .partner .section-content .partner-list li a .figure .hover-point {
          display: none; }
      .partner .section-content .partner-list li a .figcaption {
        font-size: 14px;
        color: #555;
        line-height: 18px;
        font-family: 'Titillium Web', sans-serif;
        text-align: center;
        margin-top: 15px; }
        @media (min-width: 768px) {
          .partner .section-content .partner-list li a .figcaption {
            font-size: 15px; } }
      .partner .section-content .partner-list li a:hover {
        text-decoration: none; }
      @media (min-width: 1280px) {
        .partner .section-content .partner-list li a:hover .figure {
          -webkit-transition-property: all;
          transition-property: all;
          -webkit-transition-duration: 0.15s;
          transition-duration: 0.15s;
          -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
          -webkit-transition-delay: 0s;
          transition-delay: 0s;
          background-color: #f08707;
          border-color: #f08707; }
          .partner .section-content .partner-list li a:hover .figure .img-responsive {
            display: none; }
          .partner .section-content .partner-list li a:hover .figure .hover-point {
            display: table-cell;
            vertical-align: middle;
            font-size: 15px;
            color: #fff;
            text-align: center; }
            .partner .section-content .partner-list li a:hover .figure .hover-point .icon-search {
              position: relative;
              top: -2px;
              left: 0;
              margin-right: 10px; }
        .partner .section-content .partner-list li a:hover .figcaption {
          color: #f08707; } }

.location .section-content .location-tabs .nav-tabs {
  border-bottom: 0;
  margin-bottom: 30px; }
  @media (min-width: 768px) {
    .location .section-content .location-tabs .nav-tabs {
      margin-bottom: 50px; } }
  @media (min-width: 992px) {
    .location .section-content .location-tabs .nav-tabs {
      margin-bottom: 60px; } }
  .location .section-content .location-tabs .nav-tabs li {
    width: 33.33%; }
    .location .section-content .location-tabs .nav-tabs li a {
      display: block;
      font-size: 13px;
      color: #2b2b2b;
      line-height: 38px;
      text-align: center;
      padding: 0;
      margin: 0;
      border: 1px solid #dfdfdf;
      border-left: 0;
      border-radius: 0; }
      .location .section-content .location-tabs .nav-tabs li a:hover {
        background: none; }
      @media (min-width: 768px) {
        .location .section-content .location-tabs .nav-tabs li a {
          font-size: 15px;
          line-height: 43px; } }
    .location .section-content .location-tabs .nav-tabs li.active a {
      color: #fff;
      border-color: #f0840c;
      background-color: #f0840c; }
    .location .section-content .location-tabs .nav-tabs li:first-child a {
      border-left: 1px solid #dfdfdf; }
    .location .section-content .location-tabs .nav-tabs li:first-child.active a {
      border-left-color: #f0840c !important; }
.location .section-content .location-tabs .tab-content .tab-pane .company-info {
  margin-top: 35px; }
  @media (min-width: 768px) {
    .location .section-content .location-tabs .tab-content .tab-pane .company-info {
      margin-top: 40px; } }
  .location .section-content .location-tabs .tab-content .tab-pane .company-info ul li > div {
    position: relative;
    margin-bottom: 45px; }
    .location .section-content .location-tabs .tab-content .tab-pane .company-info ul li > div figure {
      display: table;
      height: 80px; }
      .location .section-content .location-tabs .tab-content .tab-pane .company-info ul li > div figure img {
        position: absolute;
        top: 0;
        left: 0;
        width: 80px;
        height: 80px; }
      .location .section-content .location-tabs .tab-content .tab-pane .company-info ul li > div figure figcaption {
        display: table-cell;
        vertical-align: middle;
        padding-left: 100px; }
        .location .section-content .location-tabs .tab-content .tab-pane .company-info ul li > div figure figcaption dl {
          display: inline-block; }
          .location .section-content .location-tabs .tab-content .tab-pane .company-info ul li > div figure figcaption dl dt {
            font-size: 14px;
            color: #e00014;
            font-weight: 400;
            margin-bottom: 10px; }
          .location .section-content .location-tabs .tab-content .tab-pane .company-info ul li > div figure figcaption dl dd {
            font-size: 12px;
            color: #666;
            font-weight: 300;
            line-height: 20px; }
            .location .section-content .location-tabs .tab-content .tab-pane .company-info ul li > div figure figcaption dl dd a {
              display: inline-block; }
              .location .section-content .location-tabs .tab-content .tab-pane .company-info ul li > div figure figcaption dl dd a:hover {
                text-decoration: none; }
  .location .section-content .location-tabs .tab-content .tab-pane .company-info ul li:last-child > div {
    margin-bottom: 0; }
  @media (min-width: 768px) {
    .location .section-content .location-tabs .tab-content .tab-pane .company-info ul li > div {
      margin-bottom: 50px; }
      .location .section-content .location-tabs .tab-content .tab-pane .company-info ul li > div figure {
        height: 110px; }
        .location .section-content .location-tabs .tab-content .tab-pane .company-info ul li > div figure img {
          width: 100px;
          height: 100px;
          top: 5px; }
        .location .section-content .location-tabs .tab-content .tab-pane .company-info ul li > div figure figcaption {
          padding-left: 130px; }
          .location .section-content .location-tabs .tab-content .tab-pane .company-info ul li > div figure figcaption dl dt {
            font-size: 18px; }
          .location .section-content .location-tabs .tab-content .tab-pane .company-info ul li > div figure figcaption dl dd {
            font-size: 15px;
            line-height: 22px; }
    .location .section-content .location-tabs .tab-content .tab-pane .company-info ul li:nth-of-type(2n + 1) > div {
      padding-right: 10px; }
    .location .section-content .location-tabs .tab-content .tab-pane .company-info ul li:nth-of-type(2n + 2) > div {
      padding-left: 30px; }
      .location .section-content .location-tabs .tab-content .tab-pane .company-info ul li:nth-of-type(2n + 2) > div figure img {
        left: 30px; }
    .location .section-content .location-tabs .tab-content .tab-pane .company-info ul li:nth-of-type(3) > div {
      margin-bottom: 0; } }

/*# sourceMappingURL=introduce.css.map */
