@import url("//fonts.googleapis.com/earlyaccess/notosanskr.css");
@import url("https://fonts.googleapis.com/css?family=Titillium+Web:200,300,400,600");
@import url("https://fonts.googleapis.com/css?family=Maven+Pro:400,500,700");
@import url("/assets/fontello/css/fontello.css");
h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0; }

p {
  margin-bottom: 0; }

ul, ol {
  margin-bottom: 0;
  padding-left: 0;
  list-style: none; }

dl {
  margin-bottom: 0; }

address {
  margin-bottom: 0; }

.form-group {
  margin: 0; }

.form-control {
  border: 1px solid #dfdfdf;
  border-radius: 0;
  width: 100%;
  height: 35px;
  padding: 5px;
  margin: 0;
  box-shadow: none; }

.sub section > header,
.sub article > header {
  padding: 50px 15px;
  text-align: center; }
  @media (min-width: 768px) {
    .sub section > header,
    .sub article > header {
      padding-top: 70px;
      padding-bottom: 70px; } }
  @media (min-width: 992px) {
    .sub section > header,
    .sub article > header {
      padding-top: 100px;
      padding-bottom: 95px; } }
  .sub section > header h3,
  .sub article > header h3 {
    font-size: 26px;
    color: #2b2b2b;
    font-weight: 300;
    margin-bottom: 40px; }
    @media (min-width: 768px) {
      .sub section > header h3,
      .sub article > header h3 {
        font-size: 45px;
        margin-bottom: 50px; } }
    @media (min-width: 992px) {
      .sub section > header h3,
      .sub article > header h3 {
        margin-bottom: 70px; } }
  .sub section > header h4,
  .sub article > header h4 {
    font-size: 30px;
    color: #ef4600;
    font-family: 'Titillium Web', sans-serif;
    line-height: 38px;
    letter-spacing: 1px;
    font-weight: 600;
    margin-bottom: 40px; }
    @media (min-width: 768px) {
      .sub section > header h4,
      .sub article > header h4 {
        font-size: 44px;
        line-height: 50px;
        margin-bottom: 50px; } }
    @media (min-width: 992px) {
      .sub section > header h4,
      .sub article > header h4 {
        margin-bottom: 70px; } }
  .sub section > header .summary,
  .sub article > header .summary {
    font-size: 14px;
    color: #2b2b2b;
    line-height: 25px;
    font-weight: 300; }
    @media (min-width: 768px) {
      .sub section > header .summary,
      .sub article > header .summary {
        font-size: 20px;
        line-height: 30px; } }
.sub #content {
  padding-bottom: 100px; }
  @media (min-width: 768px) {
    .sub #content {
      padding-bottom: 150px; } }
  @media (min-width: 992px) {
    .sub #content {
      padding-bottom: 200px; } }
  .sub #content .btn {
    padding: 0;
    border: 0;
    border-radius: 0; }
    @media (min-width: 1280px) {
      .sub #content .btn {
        -webkit-transition-property: all;
        transition-property: all;
        -webkit-transition-duration: 0.15s;
        transition-duration: 0.15s;
        -webkit-transition-timing-function: linear;
        transition-timing-function: linear;
        -webkit-transition-delay: 0s;
        transition-delay: 0s; }
        .sub #content .btn:hover {
          opacity: .7; } }

.page-header {
  margin: 0;
  padding: 0;
  border: 0; }
  .page-header .visual-header {
    display: table;
    width: 100%;
    height: 80px;
    text-align: center;
    background-image: url(/assets/images/sub/visual_header_bg.jpg);
    background-repeat: no-repeat;
    background-size: 220%;
    background-position: 50% 50%; }
    .page-header .visual-header .header-intro {
      display: table-cell;
      vertical-align: middle; }
      .page-header .visual-header .header-intro h2 {
        font-size: 28px;
        letter-spacing: 3px;
        color: #fff;
        font-family: 'Titillium Web', sans-serif; }
      .page-header .visual-header .header-intro p {
        color: #fff;
        font-weight: 300; }
    @media (min-width: 768px) {
      .page-header .visual-header {
        height: 240px;
        background-size: cover; }
        .page-header .visual-header .header-intro h2 {
          font-size: 55px;
          letter-spacing: 5px;
          font-weight: 300;
          margin-bottom: 25px; }
        .page-header .visual-header .header-intro p {
          font-size: 15px;
          line-height: 25px; } }
    @media (min-width: 992px) {
      .page-header .visual-header {
        height: 329px; }
        .page-header .visual-header .header-intro h2 {
          font-size: 60px;
          margin-bottom: 35px; }
        .page-header .visual-header .header-intro p {
          font-size: 16px; } }
  .page-header .sub-lnb.dropdown button {
    position: relative;
    display: block;
    width: 100%;
    height: 37px;
    font-size: 15px;
    color: #e00014;
    font-weight: 500;
    line-height: 37px;
    text-align: center;
    padding: 0;
    border: 0;
    border-radius: 0;
    border-bottom: 3px solid #e00014 !important; }
    .page-header .sub-lnb.dropdown button:after {
      position: absolute;
      right: 10px;
      font-family: "fontello";
      content: "\E806"; }
    .page-header .sub-lnb.dropdown button:hover {
      color: #e00014;
      border-color: #e00014;
      background: none; }
    .page-header .sub-lnb.dropdown button:focus {
      color: #e00014 !important;
      border-color: #e00014 !important;
      background: none !important; }
    @media (min-width: 768px) {
      .page-header .sub-lnb.dropdown button {
        height: 50px;
        font-size: 18px;
        line-height: 50px; } }
  .page-header .sub-lnb.dropdown.open button:after {
    position: absolute;
    right: 10px;
    font-family: "fontello";
    content: "\E807"; }
  .page-header .sub-lnb.dropdown .dropdown-menu {
    width: 100%;
    text-align: center;
    font-size: 0;
    margin: 0;
    padding: 0;
    border: 0;
    border-radius: 0;
    box-shadow: none; }
    .page-header .sub-lnb.dropdown .dropdown-menu li {
      border-bottom: 1px solid #dadada; }
      .page-header .sub-lnb.dropdown .dropdown-menu li a {
        font-size: 13px;
        color: #666;
        padding: 0;
        line-height: 40px;
        -webkit-transition-property: all;
        transition-property: all;
        -webkit-transition-duration: 0.15s;
        transition-duration: 0.15s;
        -webkit-transition-timing-function: linear;
        transition-timing-function: linear;
        -webkit-transition-delay: 0s;
        transition-delay: 0s; }
      .page-header .sub-lnb.dropdown .dropdown-menu li.active a {
        background: none; }
    @media (min-width: 768px) {
      .page-header .sub-lnb.dropdown .dropdown-menu li a {
        font-size: 15px;
        line-height: 50px; } }
  @media (min-width: 1280px) {
    .page-header .sub-lnb.dropdown {
      height: 52px;
      width: 100%;
      border-top: 1px solid #dfdfdf;
      border-bottom: 1px solid #dfdfdf; }
      .page-header .sub-lnb.dropdown button {
        display: none; }
      .page-header .sub-lnb.dropdown .dropdown-menu {
        display: block;
        top: 0;
        left: 50%;
        width: 1200px;
        margin-left: -600px; }
        .page-header .sub-lnb.dropdown .dropdown-menu li {
          width: 14%;
          border-bottom: 0;
          border-right: 1px solid #dfdfdf;
          display: inline-block; }
          .page-header .sub-lnb.dropdown .dropdown-menu li:first-child {
            border-left: 1px solid #dfdfdf; }
          .page-header .sub-lnb.dropdown .dropdown-menu li a {
            display: block;
            -webkit-transition-property: all;
            transition-property: all;
            -webkit-transition-duration: 0.15s;
            transition-duration: 0.15s;
            -webkit-transition-timing-function: linear;
            transition-timing-function: linear;
            -webkit-transition-delay: 0s;
            transition-delay: 0s; }
          .page-header .sub-lnb.dropdown .dropdown-menu li.active {
            border-bottom: 0; }
            .page-header .sub-lnb.dropdown .dropdown-menu li.active a {
              position: relative;
              font-weight: 500;
              color: #e00014; }
              .page-header .sub-lnb.dropdown .dropdown-menu li.active a:after {
                width: 100%;
                position: absolute;
                left: 0;
                bottom: -1px;
                content: " ";
                border-bottom: 3px solid #e00014; } }

.search-form {
  position: relative;
  padding: 20px;
  border: 1px solid #ccc;
  background-color: #f8f8f8; }
  .search-form select {
    display: none; }
  .search-form .form-group {
    padding-right: 80px; }
  .search-form .btn-search {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 70px;
    font-size: 13px;
    color: #fff;
    font-family: 'Titillium Web', sans-serif;
    line-height: 35px;
    text-align: center;
    background-color: #f08501; }
  @media (min-width: 768px) {
    .search-form {
      padding: 30px 40px; }
      .search-form select {
        position: absolute;
        top: 30px;
        left: 40px;
        display: block;
        width: 124px;
        height: 40px;
        font-size: 15px;
        color: #666;
        padding-left: 15px;
        border: 1px solid #dfdfdf; }
      .search-form .form-group {
        padding: 0 144px; }
        .search-form .form-group .form-control {
          height: 40px; }
      .search-form .btn-search {
        top: 30px;
        right: 40px;
        width: 124px;
        font-size: 15px;
        height: 40px;
        line-height: 40px; } }
  @media (min-width: 992px) {
    .search-form {
      padding-left: 170px;
      padding-right: 170px; }
      .search-form select {
        width: 165px;
        left: 170px; }
      .search-form .form-group {
        padding: 0 180px; }
      .search-form .btn-search {
        width: 165px;
        right: 170px; } }

.paging {
  text-align: center; }
  .paging .pagination {
    margin: 0;
    border-radius: 0; }
    .paging .pagination li a {
      font-size: 18px;
      text-align: center;
      color: #aeaeaf;
      font-family: 'Titillium Web', sans-serif;
      padding: 0 11px;
      border: 0;
      border-radius: 0; }
      .paging .pagination li a:hover {
        background: none; }
    .paging .pagination li.active a {
      position: relative;
      font-weight: bold;
      color: #e10013;
      background: none; }
      .paging .pagination li.active a:after {
        position: absolute;
        left: 50%;
        bottom: 0;
        margin-left: -6px;
        content: "";
        width: 14px;
        border-bottom: 1px solid #e10013; }
    .paging .pagination li.stp a {
      padding: 0; }
    .paging .pagination li.stm-right a {
      margin-right: 15px; }
    .paging .pagination li.stm-left a {
      margin-left: 15px; }

/*# sourceMappingURL=sub.css.map */
